[Desktop Entry]
Name=RasMol
Comment=Molecular Graphics Visualisation Tool
Exec=rasmol_tcl
Icon=rasmol
Terminal=false
Type=Application
Categories=Science;Chemistry;Biology;Education;
